<div id="av_section_2" class="avia-section main_color avia-section-large avia-no-shadow  avia-builder-el-16  el_after_av_section  container_wrap fullsize">
	<div class="container">
		<div class="template-page content  twelve alpha units">
			<div class="post-entry post-entry-type-page post-entry-734">
				<div class="entry-content-wrapper clearfix">
					<div class="flex_column av_one_half first  avia-builder-el-17  avia-builder-el-first  ">
						<div class="avia-gallery avia-gallery-1 avia_lazyload avia_animate_when_visible  avia-builder-el-18  avia-builder-el-no-sibling  avia_start_animation" itemscope="itemscope" itemtype="">
							<a class="avia-gallery-big fakeLightbox lightbox" href="" data-onclick="1" title="" style="height: auto; position: relative; overflow: hidden;">
								<span class="avia-gallery-big-inner" itemprop="contentURL">	
									<%= image_tag "pcjss.jpg", :title => "travelweb", :class => "avia_start_animation", :id => "portfolio_img" %>
									<span class="avia-gallery-caption">Easy Step by Step Instructions</span>
								</span>
								<span class="image-overlay overlay-type-image" style="opacity: 0; left: 7px; top: 7px; display: block; height: 378px; width: 468px;">
									<span class="image-overlay-inside"></span>
								</span>
							</a>
							<div class="avia-gallery-thumb"> 
								
								<%= link_to "", "data-prev-img" => "assets/pcjss.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "pcjmini.jpg", :title => "Personal Choice Jamaica", :class => "avia_start_animation" %>
								<%end%>

								<%= link_to "", "data-prev-img" => "assets/travelwebss.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "travelwebmini.jpg", :title => "Travelweb", :class => "avia_start_animation" %>
								<%end%>

								<%= link_to "", "data-prev-img" => "assets/cheerwiness.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "cheerwinemini.jpg", :title => "Cheerwine", :class => "avia_start_animation" %>
								<%end%>

								<%= link_to "", "data-prev-img" => "assets/mermersepetiss.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "mermersepetimini.jpg", :title => "Mermer Sepeti", :class => "avia_start_animation" %>
								<%end%>

								<%= link_to "", "data-prev-img" => "assets/woodsss.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "woodsmini.jpg", :title => "Woods Witt Dealy", :class => "avia_start_animation" %>
								<%end%>

								<%= link_to "", "data-prev-img" => "assets/jackysss.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "jackysmini.jpg", :title => "Jackys Shack", :class => "avia_start_animation" %>
								<%end%>
								
								<%= link_to "", "data-prev-img" => "assets/pcjss.jpg", :class => "portfilio_mini_pic lightbox" do %>
									<%= image_tag "pcjmini.jpg", :title => "Personal Choice Jamaica", :class => "avia_start_animation" %>
								<%end%>								
								
							</div>
						</div>
					</div>
					<div class="flex_column av_one_half   avia-builder-el-19  el_after_av_one_half  avia-builder-el-last  ">
						<section class="av_textblock_section" itemscope="itemscope" itemtype="">
							<div class="avia_textblock " itemprop="text">
								<h2>Some of Our Work</h2>
							</div>
						</section>
					<div class="hr hr-short hr-left  avia-builder-el-21  el_after_av_textblock ">
						<span class="hr-inner">
							<span class="hr-inner-style"></span>
						</span>
					</div>
					<section class="av_textblock_section" itemscope="itemscope" itemtype="">
						<div class="avia_textblock " itemprop="text">
							<p>
								Check out some of our client's websites.
							</p>
							<ul>
								<li><a href="http://www.travelwebsoftware.com">TravelWeb Software</li>
								<li><a href="http://www.personalchoicejamaica.com">Personal Choice Jamaica</li>
								<li><a href="http://www.kismetair.com">Kismet Air</li>
								<li><a href="http://www.tgivacations.com">TGI Vacations</li>
								<li><a href="http://www.myluxuryvillas.com">My Luxury Villas</li>
								<li><a href="http://www.flightcart.com">Flight Cart</li>
								<li><a href="http://www.mermersepeti.com">Mermer Sepeti</li>
								<li><a href="http://www.woodswittdealy.com">Woods Witt Dealy</li>
								<li><a href="http://www.cheerwine.com">Cheerwine</li>
							</ul>
						</div>
					</section>
					<div class="hr hr-short hr-left  avia-builder-el-23  el_after_av_textblock ">
						<span class="hr-inner">
							<span class="hr-inner-style"></span>
						</span>
					</div>
					<div class="avia-button-wrap avia-button-left  avia-builder-el-24  el_after_av_hr  avia-builder-el-last ">
						<a href="" class="avia-button avia-icon_select-yes avia-color-theme-color-subtle avia-size-large avia-position-left ">
							<span class="avia_button_icon" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
							<span class="avia_iconbox_title">Learn more...</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- close content main div -->
</div></div>

<script>
	
	$('.portfilio_mini_pic').hover(function(e) {
		var srcval = this.getAttribute('data-prev-img');
		$("#portfolio_img").attr("src", srcval);

	});


</script>