<!-- Responsive slider - START -->
<div class="sliderholder" style="margin-right: auto;margin-left: auto">
  <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
    <div class="slides" data-group="slides">
      <ul>
        <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "test3.jpg", :style => "width:100%" %>
          
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext secondslide" style="margin-left: 8%">Creators of TravelWeb Software</h2>
          </div>

          <div class="caption img-html5" style="top: 4.5%; right:7%" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <img src="assets/jackys.png" class="shadowslideitem" style="margin-left: -10%; margin-top: 24%">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600" data-length="800" style="right: 27%;top: 16%;">
            <img src="assets/jamaicabanner.png" class="shadowslideitem" style="margin-left: -39%; margin-top: 14%">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000" data-length="800">
            <img src="assets/travelwebbanner.png" class="shadowslideitem" style="margin-left: -58%; margin-top: 3%">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "test7.jpg", :style => "width:100%" %>
          
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext secondslide" style="margin-left: 8%">Trawelweb Software's Customers</h2>
          </div>

          <div class="caption img-html5" style="top: 4.5%; right:7%" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <img src="assets/mlvbanner.png" class="shadowslideitem" style="margin-left: -10%; margin-top: 24%">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600" data-length="800" style="right: 27%;top: 16%;">
            <img src="assets/kismetbanner.png" class="shadowslideitem" style="margin-left: -39%; margin-top: 14%">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000" data-length="800">
            <img src="assets/tgibanner.png" class="shadowslideitem" style="margin-left: -58%; margin-top: 3%">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "hqsitesfxleft.jpg", :style => "width:100%" %>

          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
              <h2 class="slidertext secondslide">High quality and functional websites</h2>
          </div>

          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <%= image_tag "travelweb2.png", :style => "margin-left: -63%; margin-top: -6%; padding:7%" %>
          </div>
          <div class="caption img-html5" data-animate="slideAppearRightToLeft" data-delay="400" data-length="800">
            <%= image_tag "cheerwinelp2.png", :style => "margin-left: -18%; margin-top: 19%; padding:9%" %>
          </div>
          <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="600" data-length="800">
            <%= image_tag "wwdip.png", :style => "margin-left: -106%; margin-top: 4%; padding:35%" %>
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "test5.jpg", :style => "width:100%" %>
          
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext secondslide" style="margin-left: 8%">Successful E-Commerce Sites</h2>
          </div>

          <div class="caption img-html5" style="top: 4.5%; right:7%" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <img src="assets/mermersepeti3rd.png" class="shadowslideitem" style="margin-left: -10%; margin-top: 24%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600" data-length="800" style="right: 27%;top: 16%;">
            <img src="assets/mermersepeti2nd.png" class="shadowslideitem" style="margin-left: -39%; margin-top: 14%">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000" data-length="800">
            <img src="assets/mermersepeti1st.png" class="shadowslideitem" style="margin-left: -58%; margin-top: 3%;">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "test8.jpg", :style => "width:100%" %>
          
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext secondslide" style="margin-left: 8%">A Good Title For Cheerwine</h2>
          </div>

          <div class="caption img-html5" style="top: 4.5%; right:7%" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <img src="assets/cheerwine3rdbanner.png" class="shadowslideitem" style="margin-left: -10%; margin-top: 24%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600" data-length="800" style="right: 27%;top: 16%;">
            <img src="assets/cheerwine2ndbanner.png" class="shadowslideitem" style="margin-left: -39%; margin-top: 14%">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000" data-length="800">
            <img src="assets/cheerwine1stbanner.png" class="shadowslideitem" style="margin-left: -58%; margin-top: 3%;">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
      </ul>
    </div>

    <a class="slider-control left ls-nav-prev" href="#" data-jump="prev"><</a>
    <a class="slider-control right ls-nav-next" href="#" data-jump="next">></a>
   </div>
</div>
<!-- Responsive slider - END -->


<script>
$( document ).ready( function() {
  $('.responsive-slider').responsiveSlider({
    autoplay: true,
    interval: 7000,
    transitionTime: 300
  });
});
</script>

<style>
.shadowslideitem{
box-shadow: 0px 0px 20px -1px #d3d3d3;
}

@media (min-width: 1301px) and (max-width: 1480px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 37px;
  }
}

@media (min-width: 1240px) and (max-width: 1300px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 35px;
  }
}

@media (min-width: 1135px) and (max-width: 1239px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 32px;
  }
}

@media (min-width: 983px) and (max-width: 1134px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 29px;
  }
}

@media (min-width: 884px) and (max-width: 983px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 25px;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 22px;
  }
}


</style>