<!-- Responsive slider - START -->
<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
  <div class="slides" data-group="slides">
    <ul>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "floor.jpg", :style => "width:100%" %>

          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext">Web Development</h2>
            <div class="caption img-html5" data-animate="slideAppearRightToLeft" data-delay="200">
              <h2 class="slidertext bottomtext">High quality and functional websites</h2>
            </div>
          </div>

          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <%= image_tag "travelweb2.png", :style => "margin-left: -42%; margin-top: -7%" %>
          </div>
          <div class="caption img-html5" data-animate="slideAppearRightToLeft" data-delay="400" data-length="800">
            <%= image_tag "cheerwinelp2.png", :style => "margin-left: 2%; margin-top: 20%" %>
          </div>
          <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="600" data-length="800">
            <%= image_tag "wwdip.png", :style => "margin-left: -119%; margin-top: 30%; padding-left:63%" %>
          </div>
        </div>
      </li>
       <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "room.jpg", :style=> "width:100%" %>
          
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext secondslide">Creators of TravelWeb Software</h2>
            <div class="caption img-html5" data-animate="slideAppearRightToLeft" data-delay="200">
              <h2 class="slidertext bottomtext secondslide">Web Based Travel Operator Software</h2>
            </div>
          </div>

          <div class="caption img-html5" style="margin-left: 20px;" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <img src="assets/jackys.jpg" style="margin-left: -10%; margin-top: 24%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600" data-length="800">
            <img src="assets/jamaica.jpg" style="margin-left: -39%; margin-top: 14%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000" data-length="800">
            <img src="assets/travelweb.jpg" style="margin-left: -64%; margin-top: 3%;">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "testtexture1.png", :style=> "width:100%" %>
          
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="800" >
            <h2 class="slidertext secondslide">Creators of TravelWeb Software</h2>
            <div class="caption img-html5" data-animate="slideAppearRightToLeft" data-delay="200">
              <h2 class="slidertext bottomtext secondslide">Web Based Travel Operator Software</h2>
            </div>
          </div>

          <div class="caption img-html5" style="margin-left: 20px;" data-animate="slideAppearUpToDown" data-delay="200" data-length="800">
            <img src="assets/jackys.jpg" style="margin-left: -10%; margin-top: 24%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600" data-length="800">
            <img src="assets/jamaica.jpg" style="margin-left: -39%; margin-top: 14%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000" data-length="800">
            <img src="assets/travelweb.jpg" style="margin-left: -64%; margin-top: 3%;">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a class="slider-control left ls-nav-prev" href="#" data-jump="prev"><</a>
  <a class="slider-control right ls-nav-next" href="#" data-jump="next">></a>
  <div class="pages">
    <a class="page" href="#" data-jump-to="1">1</a>
    <a class="page" href="#" data-jump-to="2">2</a>
  </div>
</div>
<!-- Responsive slider - END -->


<script>
$( document ).ready( function() {
  $('.responsive-slider').responsiveSlider({
    autoplay: true,
    interval: 7000,
    transitionTime: 300
  });
});
</script>

<style>
.slidertext
{
  box-shadow: black 0px 4px 10px -5px;
  opacity: 0.65;
  size: 25px;
  background-color: black;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  border-width: 0px;
  visibility: visible;
  margin-left:17%;
  font-size: 25px;
  padding: 20px 10px;
  width: 300px;
}

.bottomtext
{
  padding: 10px;
  margin-left: -150%;
  margin-top: 66%;
  font-size: 15px;
}

.secondslide
{
  width:331px;
  font-size:19px!important;
}

.bottomtext.secondslide
{
  width:331px;
  font-size:14px!important;
  margin-top: 61%;
}

@media (min-width: 961px) and (max-width: 1131px) {
    .secondslide{
      width:274px;
      font-size:15px!important;
    }
    .bottomtext.secondslide{
      width:274px;
      font-size:13px!important;
      margin-top: 72%;
    }
  }


@media (min-width: 768px) and (max-width: 960px) {
  .slidertext
  {
    font-size: 17px;
    padding: 10px 5px;
    width:268px;
  }
  .bottomtext 
  {
    font-size: 11px!important;
    margin-top:53%;
  }

  .slidertext.secondslide
  {
    font-size: 13px!important;
  }
  .bottomtext.secondslide
  {
    margin-top: 52%;
    width:268px;
  }
}

@media (max-width: 767px) {
  .slidertext
  {
    display:none!important;
  }
  .slider-control
  {
    display:none!important;
  }

}

</style>
