<div id="main">
	<%= render "slide" %>

	<%= render "maininfo" %>

	<%= render "aboutus" %>

	<%= render "portfolio" %>

	<%= render "contactus" %>

	<%= render "customers" %>
</div>

<script type="text/javascript">
lsjQuery(document).ready(function() {
                if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1','jquery'); }
                    else if(typeof lsjQuery.transit == "undefined" || typeof lsjQuery.transit.modifiedForLayerSlider == "undefined") { lsShowNotice('layerslider_1', 'transit'); }
                        else {
                            lsjQuery("#layerslider_1").layerSlider({
                                width : '100%',
                                height : '470px',
                                responsive : true,
                                responsiveUnder : 1140,
                                sublayerContainer : 1140,
                                autoStart : true,
                                pauseOnHover : false,
                                firstLayer : 1,
                                animateFirstLayer : true,
                                randomSlideshow : false,
                                twoWaySlideshow : true,
                                loops : 0,
                                forceLoopNum : true,
                                autoPlayVideos : true,
                                autoPauseSlideshow : 'auto',
                                youtubePreview : 'maxresdefault.jpg',
                                keybNav : true,
                                touchNav : true,
                                skin : 'fullwidth',
                                skinsPath : 'http://www.kriesi.at/themes/enfold/wp-content/themes/enfold/config-layerslider/LayerSlider/skins/',
navPrevNext : true,
                                navStartStop : true,
                                navButtons : true,
                                hoverPrevNext : true,
                                hoverBottomNav : true,
                                showBarTimer : false,
                                showCircleTimer : true,
                                thumbnailNavigation : 'disabled',
                                tnWidth : 80,
                                tnHeight : 60,
                                tnContainerWidth : '60%',
                                tnActiveOpacity : 35,
                                tnInactiveOpacity : 100,
                                imgPreload : true,
                        		yourLogo : false,
                                yourLogoStyle : 'position: absolute; left: 10px; top: 10px; z-index: 99;',
                                yourLogoLink : false,
                                yourLogoTarget : '_self',
                                cbInit : function(element) { },
                                cbStart : function(data) { },
                                cbStop : function(data) { },
                                cbPause : function(data) { },
                                cbAnimStart : function(data) { },
                                cbAnimStop : function(data) { },
                                cbPrev : function(data) { },
                                cbNext : function(data) { }
                            });
                        }
            });
        </script>