<div id="main">

	<%= render "slider" %>

	<%= render "maininfo" %>

	<%= render "someofourwork" %>

	<%= render "aboutus" %>

	<%= render "altcontactus" %>

	<%= render "customers" %>

</div>
