<div id="main">

	<%= render "slider" %>

	<%= render "maininfo" %>

	<%= render "aboutus" %>

	<%= render "someofourwork" %>
	
	<%= render "contactus" %>

	<%= render "customers" %>

</div>
