<div id="main">
	<%=image_tag "floor.jpg", :style => "width:100%" %>

	<%= render "maininfo" %>

	<%= render "aboutus" %>
	
	<%= render "portfolio" %>

	<%= render "contactus" %>

	<%= render "customers" %>
</div>